*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html {
  scroll-behavior: smooth;
}
body{
    background-color: var(--background-color);
    font-family: 'Manrope', sans-serif;
}
/* Root */
:root{
    --background-color:#040C18;
    --text-color:#81AFDD;
    --box-color:#0F4279;
    --white-color:#FFFFFF;
}
/* loader */
.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
  position: fixed;
  z-index: 9999;
  top: 40%;
  left: 45%;
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
/* Header */

header{
    max-height: 110px;
    max-width: 100%;
}
nav .nav-link{
    color: var(--white-color);
    font-family: 'Manrope', sans-serif;
    transition: 0.4s;    
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
}
.nav-link:hover {
    color: var(--box-color);
    transition: 0.4s;
    border-bottom: 3px solid var(--box-color);
}
.signup-button{
    background-color: #FF4820;
    width: 90px;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    transition: 0.4s;
    
}
.signup-button:hover{
    background-color: #fc2e00;
    transition: 0.4s;
}
.signup-button a:hover{
    border-bottom: transparent;
    color: black;
}

/* Home */
.container{
    width: 100%;
    height: 650px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
.container .container-content{
    width: 50%;
    height: 100%;
    padding-left: 55px;
    padding-top: 70px;
}
.container .container-content h1{
    font-size: 57px;
    background-image: linear-gradient(to right, #AE67FA, #F49867, #AE67FA, #F49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  background-position: 0 0;
  animation: animate-gradient 10s ease infinite;
  
}
@keyframes animate-gradient {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 400% 0;
    }
  }
  .container .container-content h6{
    color: var(--text-color);
    margin-top: 20px;
    font-weight: 400;
  }
  .input-group{
    margin-top: 25px;
  }
  .input-group input{
    height: 60px;
    background-color: #052D56;
    border: none;
  }
  .input-group input:focus{
    background-color: #011e3b;
    box-shadow: 0 0 0 2px #0F4279;
    color: var(--white-color);
  }
  .input-group button{
    background-color: #FF4820;
    color: var(--white-color);
    border: none;
  }
  .input-group button:hover{
    background-color: #fc2e00;
    color: #040C18;
  }
  .group-email span{
    position: relative;
    right: 93px;
    font-size: 9px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    cursor: default;
  }
  .img-email{
    cursor: pointer;
    transition: all 0.5s;
  }
  .img-email:hover{
    transform: translateY(-10px);
  }
  .ComapniesLogo{
    position: relative;
    left: 55%;
    margin-top: 65px;
    cursor: pointer;
    
  }
  .hover-logo{
    transition: all 0.5s;
  }
  .hover-logo:hover{
    transform: translateY(-10px);
  }

  .HeaderIllustration{
    width: 50%;
    height: 100%;
    padding-right: 55px;
    padding-top: 70px;
  }
  .img-header{
    height: 100%; 
    width: 100%;
    position: relative;
    left: 80px;
    bottom: 60px;
    animation: moveUpDown 4s infinite;
  }
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
      
    }
    50% {
      transform: translateY(-20px);
      
    }
    100% {
      transform: translateY(0);
    }
  }
  /* What is GPT-3 */
  .whatisgpt3{
    width: 100%;
    height: 650px;
  }
 
  .container-form{
    width: 75%;
    height: 90%;
    background-color: #042C54;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(6, 65, 212, 0.034),
    0 6.7px 5.3px rgba(6, 65, 212, 0.034),
    0 12.5px 10px rgba(6, 65, 212, 0.034),
    0 22.3px 17.9px rgba(6, 65, 212, 0.034),
    0 41.8px 33.4px rgba(6, 65, 212, 0.034),
    0 100px 80px rgba(6, 65, 212, 0.034);
  }
  .Ellipse39{
    position: absolute;
    right: 190px;
    top: 903px;
    border-bottom-right-radius: 10px;
  }
  .Ellipse40{
    position: absolute;
    border-top-left-radius: 10px;
  }
  .group-whatisgpt3{
    margin-left: 60px;
    position: relative;
    top: 50px;
    color: var(--white-color);
}

.container-form h6, .feature-1 h6{
  max-width: 737px;
  position: relative;
  left: 322px;
  color: var(--text-color);
  font-weight: 300;
  line-height: 30px;
}
.container-form h2, .feature-1 h2{
  max-width: 418px;
    margin-left: 60px;
    margin-top: 55px;
    background-image: linear-gradient(to right, #AE67FA, #F49867, #AE67FA, #F49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  background-position: 0 0;
  animation: animate-gradient 10s ease infinite;
  font-weight: 600;
}
.box{
  width: 31%;
  height: 195px;
  display: inline-block;
  margin: 10px;
}
.container-form .group-boxes h6{
    left: 60px;
    bottom: 40px;
    max-width: 290px;
}
/* Feature-1 */

.feature-text-boxes{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.feature-1 h6{
  left: 60px;
  color: #FF8A71;
  margin-top: 15px;
}
.feature-text{
    width: 50%;
    height: 100%;
    padding-left: 55px;

    
    
}
.form-img{
  width: 330px;
  height: 295px;
  background-color: #042C54;
  margin-left: 60px;
  margin-top: 30px;
  border-top-right-radius: 50%;
  animation: moveUpDown 4s infinite;
}
.feature-text .img-feature .form-img img{
    width: 120%;
    position: relative;
    bottom: 22px;
}
.feature-boxes{
    width: 50%;
    height: 100%;
    padding-right: 55px;
}
.feature-boxes h6{
    min-width: 337px;
    color: var(--text-color);
    top: 37px;
}
.feature-boxes .box h4{
    min-width: 154px;
    font-size: 17px;
}
.feature-boxes .box{
  display: flex;
}
/* Feature-2 */

.feature-img-contact{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
}
.feature-2 .feature-img{
  width: 50%;
  height: 100%;
  margin-left: 60px;
}
.feature-2 .feature-img .form-img{
  margin-top: 165px;
}

.feature-2 .feature-img .form-img .fr-img{
  width: 180%;
  position: relative;
  right: 30px;
  bottom: 101px;
}
.feature-contact{
  width: 50%;
  height: 100%;
  margin-right: 60px;
}
.feature-text-contact{
  margin-top: 120px;
  margin-left: 50px;
}
.feature-text-contact h6{
  margin-bottom: 20px;
  max-width: 476px;
  line-height: 2;
  font-weight: 400;
}
.feature-text-contact h3{
  margin-bottom: 20px;
  max-width: 330px;
  background-image: linear-gradient(to right, #AE67FA, #F49867, #AE67FA, #F49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  background-position: 0 0;
  animation: animate-gradient 10s ease infinite;
  font-weight: 600;
}
.cta{
  width: 75%;
  height: 107px;
  background-image: linear-gradient(to right, #AE67FA, #F49867);
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.cta-text{
  width: 75%;
  margin-top: 9px;
}
.cta-text h5{
  font-weight: 900;
  position: relative;
  top: 10px;
  left: 80px;
}
.cta-text p{
  left: 80px;
  font-size: 10px;
  position: relative;
  top: 25px;
  font-weight: 900;
}
.cta-button{
  width: 25%;
}
.cta-button button{
  position: relative;
  top: 30%;
  left: 40%;
  width: 120px;
  height: 45px;
  background-color: black;
  color: var(--white-color);
  border-radius: 20px;
  border: none;
  transition: 0.4s;
}
.cta-button button:hover{
  background-color:#AE67FA;
  color: black;
  transition: 0.4s;
}
/* Blog */
.blog{
  width: 100%;
  height: 700px;
}
.blog-text{
  height: 30%;
  width: 657px;
  margin-left: 110px
}
.blog-text h1{
  position: relative;
  top: 30%;
  font-size: 3rem;
  background-image: linear-gradient(to right, #AE67FA, #F49867, #AE67FA, #F49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  background-position: 0 0;
  animation: animate-gradient 10s ease infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  border-radius: 10px;
}
.blog-group{
  margin-top: 25px;
  width: 85%;
  height: 445px;
  margin-left: 110px;
  display: flex;
}
.blog-group1{
  width: 370px;
  height: 445px;
  transition: 1s;
}
.blog-group1:hover{
  transform: skew(10deg, 10deg) scale(0.9);
  
}
.blog-group-contact{
  width: 78.4%;
  height: 258px;
  background-color: #042C54;
}
.blog-group .blog-group1 p{
  font-size: 10px;
  position: relative;
  top: 30px;
}
.blog-group .blog-group1 h5{
  position: relative;
  top: 20px;
  font-weight: 700;
}
.blog-group .blog-group1 span{
  font-size: 11px;
  position: relative;
  top: 105px;
}
.blog-group .blog-group2 p{
  font-size: 10px;
  position: relative;
  top: 30px;
}
.blog-group .blog-group2 h5{
  position: relative;
  top: 20px;
  font-weight: 700;
}
.blog-group .blog-group2 span{
  font-size: 11px;
  position: relative;
  top: 105px;
}
footer{
  width: 100%;
  height: 750px;
  background-color: #031B34;
}
footer h1{
  margin-left: auto;
  margin-right: auto;
  width: 460px;
  padding-top: 100px;
  background-image: linear-gradient(to right, #AE67FA, #F49867, #AE67FA, #F49867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  background-position: 0 0;
  animation: animate-gradient 10s ease infinite;
}
footer .copy-right{
  text-align: center;
  padding-top: 85px;
  color: var(--white-color);
  font-size: 15px;
}
footer button{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  width: 250px;
  height: 55px;
  background-color: transparent;
  border: solid 2px #ffffff;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 1000ms;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #000000;

}
footer button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #000000;
  border: solid 2px #000000;
  box-shadow: 4px 5px 17px -4px #000000;
}

footer button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #000000;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

footer button:hover::before {
  width: 250%;
}
footer .logo-links{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 80px;
}
footer .logo-links .logo{
  width: 300px;
  margin-left: 110px;
  color: var(--white-color);
}
footer .logo-links .logo h2{
  margin-bottom: 0px;
}
footer .logo-links .logo p{
  font-size: 7px;
  max-width: 110px;
}
footer .logo-links .footer-link{
  color: var(--white-color);
  cursor: pointer;
  font-weight: 300;
  width: 350px;
}
.footer-Company{
  color: var(--white-color);
  cursor: pointer;
  font-weight: 300;
  width: 350px;
}
.footer-Get-in-touch{
  color: var(--white-color);
  cursor: pointer;
  font-weight: 300;
  width: 200px;
}
.footer-hover p:hover{
  color: var(--box-color);
    transition: 0.4s;
}
/* back to top */
#scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 100px;
  z-index: 99;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  overflow: hidden;
  outline: 2px solid #2c9caf;
}


#scrollBtn:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

#scrollBtn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

#scrollBtn:hover::before {
  width: 250%;
}